@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/** { border: 1px solid cornflowerblue;}*/
* {
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
  border: 0;
  /*border: 1px solid red;*/
  font-family: 'Roboto', sans-serif;  
}
header{
  display: flex;
  justify-content: space-between;
  align-content: center;  
  background-color: #1F2937;
  padding: 20px;
}
header section{  
  font-size: 24px;
  color: #f9faf8;    
}
li{  
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
.nav__links{
  list-style: none;
}
.nav__links li{
  display: inline-block;
  padding: 0px 20px;
}
.fs {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-content: center;  
  color: white;
}
.fsl{
  padding: 48px;  
  flex-direction: column;  
}
.fsl p{
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 30px;
}
.fsl section{
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.fsl button{
  background-color: #3882f6;
  border-radius: 4px;
  padding: 5px;  
  color: white;
}
.fsr{
  padding: 48px;  
}
.fsr p{
  padding: 24px;
  background-color: grey;
}
.quote{
  background-color: #E5E7EB;
  font-size: 20px;
  font-weight: light;
  font-style: italic;  
  display: flex; 
  flex-direction: column;
  padding: 40px;  
}
.quote figcaption{
  font-weight: bold;
  text-align: right;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 30px;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
}
.box .boxText{
  font-size: 25px;  
}
.box .boxSubText{
  font-size: 12px;  
}
.box button{
  border: 1px solid white;
  background-color: #3882f6;
  border-radius: 4px;
  color: white;
  padding: 10px;  
}
.footer{
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 4px;
  color: white;
}
/*
html{
  display: flex;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.quote{
  background-color: #E5E7EB;
  font-size: 20px;
  font-weight: light;
  font-style: italic;  
  display: flex;  
  padding: 40px;  
}
.footer{
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 4px;
  color: white;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
  background-color: #3882F6;
}
.firstsection{
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 4px;
  color: white;
}*/